<div class="container-fluid mt--7">
  <div class="container-fluid mt-4 mb-2">
    <!-- Brand -->
    <a class="heading-section text-lighter text-uppercase" href="">Matches </a>
  </div>
  <div class="row">
    <div class="col-xl-11 mb-5 mb-xl-0">
      <div class="card shadow p-3" style="background: aliceblue;">
        <br>

        <div class="col-lg-6 col-xl-11 m-2 ml-5 ">
          <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
            <div class="row">
              <div class="col-2 pl-4 pt-2 pb-2">
                <div><img alt="Image placeholder" class="border-radius-3"
                    src="../../../../assets/dashboard/img/theme/team-3-800x800.jpg" style="
              max-height: 107px;"></div>
              </div>
              <div class="card-body  col-10">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">5 points</h5><span
                      class="h2 font-weight-bold mb-0">Junior Software Developer Java/Web</span>
                  </div>
                  <div class="col-auto">
                    <div class=" icon-shape bg-blue text-white rounded-circle shadow"  
                    data-toggle="collapse" data-target="#collapseExample" role="button"><i class="ni ni-bold-down"></i></div>
                  </div>
                </div>
                <p class="mb-0 ml-1 text-muted text-sm"><span class="text-nowrap">2019-07-17</span><span
                    class="text-nowrap"> to </span><span class="text-nowrap">2019-07-17</span></p>
              </div>
              <div class="col-12 collapse" id="collapseExample">
                <p class="h5 ml-4 mt-4 text-dark-gray">Details :</p>
                <div class="card-body pt-1">To strengthen our Tech team we are looking for a
                  skilled Senior Mobile Developer. The position is located in Berlin

                  <div class="pl-2 pt-3">skills needed:



                      <div class="chip">
                          Jane Doe
                        </div>
                    <!-- <div class="row">
                      <div class="col s6">
                        <input type="text" id="lg-input" placeholder="Add a keyword here">
                      </div>
                      <div class="col s2">
                        <button type="button" id="cmd-ChipsAjout" class="btn btn-outline-secondary"
                          style="padding-bottom: 2.7em;">
                          <i class="material-icons">add</i>
                        </button>
                      </div>
                    </div> -->
                    <!--CHIPS/TAGS ZONE -->
                    <!-- <div id="lg-Chips"></div> -->


                  </div>
                  <div class="col-11">
                    <button class="btn btn-3 btn-danger btn-icon float-right mb-3" type="button">
                      <span class="btn-inner--icon">
                        <i class="fas fa-plus"></i>
                      </span>
                      <span class="btn-inner--text">subscribe</span>
                    </button></div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-6 col-xl-11 m-2 ml-5 ">
            <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
              <div class="row">
                <div class="col-2 pl-4 pt-2 pb-2">
                  <div><img alt="Image placeholder" class="border-radius-3"
                      src="../../../../assets/dashboard/img/theme/team-3-800x800.jpg" style="
                max-height: 107px;"></div>
                </div>
                <div class="card-body  col-10">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">5 points</h5><span
                        class="h2 font-weight-bold mb-0">Junior Software Developer Java/Web</span>
                    </div>
                    <div class="col-auto">
                      <div class=" icon-shape bg-blue text-white rounded-circle shadow"  
                      data-toggle="collapse" data-target="#collapseExample" role="button"><i class="ni ni-bold-down"></i></div>
                    </div>
                  </div>
                  <p class="mb-0 ml-1 text-muted text-sm"><span class="text-nowrap">2019-07-17</span><span
                      class="text-nowrap"> to </span><span class="text-nowrap">2019-07-17</span></p>
                </div>
                <div class="col-12 collapse" id="collapseExample">
                  <p class="h5 ml-4 mt-4 text-dark-gray">Details :</p>
                  <div class="card-body pt-1">To strengthen our Tech team we are looking for a
                    skilled Senior Mobile Developer. The position is located in Berlin
  
                    <div class="pl-2 pt-3">skills needed:
  
  
  
                        <div class="chip">
                            Jane Doe
                          </div>
                      <!-- <div class="row">
                        <div class="col s6">
                          <input type="text" id="lg-input" placeholder="Add a keyword here">
                        </div>
                        <div class="col s2">
                          <button type="button" id="cmd-ChipsAjout" class="btn btn-outline-secondary"
                            style="padding-bottom: 2.7em;">
                            <i class="material-icons">add</i>
                          </button>
                        </div>
                      </div> -->
                      <!--CHIPS/TAGS ZONE -->
                      <!-- <div id="lg-Chips"></div> -->
  
  
                    </div>
                    <div class="col-11">
                      <button class="btn btn-3 btn-danger btn-icon float-right mb-3" type="button"
>
                        <span class="btn-inner--icon">
                          <i class="fas fa-plus"></i>
                        </span>
                        <span class="btn-inner--text">subscribe</span>
                      </button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  

          <div class="col-lg-6 col-xl-11 m-2 ml-5 ">
              <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
                <div class="row">
                  <div class="col-2 pl-4 pt-2 pb-2">
                    <div><img alt="Image placeholder" class="border-radius-3"
                        src="../../../../assets/dashboard/img/theme/team-3-800x800.jpg" style="
                  max-height: 107px;"></div>
                  </div>
                  <div class="card-body  col-10">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">5 points</h5><span
                          class="h2 font-weight-bold mb-0">Junior Software Developer Java/Web</span>
                      </div>
                      <div class="col-auto">
                        <div class=" icon-shape bg-blue text-white rounded-circle shadow"  
                        data-toggle="collapse" data-target="#collapseExample" role="button"><i class="ni ni-bold-down"></i></div>
                      </div>
                    </div>
                    <p class="mb-0 ml-1 text-muted text-sm"><span class="text-nowrap">2019-07-17</span><span
                        class="text-nowrap"> to </span><span class="text-nowrap">2019-07-17</span></p>
                  </div>
                  <div class="col-12 collapse" id="collapseExample">
                    <p class="h5 ml-4 mt-4 text-dark-gray">Details :</p>
                    <div class="card-body pt-1">To strengthen our Tech team we are looking for a
                      skilled Senior Mobile Developer. The position is located in Berlin
    
                      <div class="pl-2 pt-3">skills needed:
    
    
    
                          <div class="chip">
                              Jane Doe
                            </div>
                        <!-- <div class="row">
                          <div class="col s6">
                            <input type="text" id="lg-input" placeholder="Add a keyword here">
                          </div>
                          <div class="col s2">
                            <button type="button" id="cmd-ChipsAjout" class="btn btn-outline-secondary"
                              style="padding-bottom: 2.7em;">
                              <i class="material-icons">add</i>
                            </button>
                          </div>
                        </div> -->
                        <!--CHIPS/TAGS ZONE -->
                        <!-- <div id="lg-Chips"></div> -->
    
    
                      </div>
                      <div class="col-11">
                        <button class="btn btn-3 btn-danger btn-icon float-right mb-3" type="button"
  >
                          <span class="btn-inner--icon">
                            <i class="fas fa-plus"></i>
                          </span>
                          <span class="btn-inner--text">subscribe</span>
                        </button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
      </div>
    </div>

  </div>

</div>