<div class="container-fluid mt--7">
    <div class="container-fluid mt-4 mb-2">
        <!-- Brand -->
        <a class="heading-section text-lighter text-uppercase" href="">Matches </a>
    </div>
    <div class="row">
        <div class="col-xl-11 mb-5 mb-xl-0">
            <div class="card shadow p-3" style="background: aliceblue;">
                <br>

                <div class="col-lg-6 col-xl-11 m-2 ml-5 " *ngFor="let data of events;let i = index">
                    <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
                        <div class="row">
                            <div class="col-2 pl-4 pt-2 pb-2">
                                <div><img alt="Image placeholder" class="border-radius-3" src="{{data.entreprise.picture}}" style="
              max-height: 107px;"></div>
                            </div>
                            <div class="card-body  col-10">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">{{data.entreprise.name}}</h5><span class="h2 font-weight-bold mb-0">{{data.event.event_name}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class=" icon-shape bg-blue text-white rounded-circle shadow" data-toggle="collapse" [attr.data-target]="'#collapse'+ i" role="button"><i class="ni ni-bold-down"></i></div>
                                    </div>
                                </div>
                                <p class="mb-0 ml-1 text-muted text-sm"><span class="text-nowrap">{{data.event.since}}</span><span class="text-nowrap"> to </span><span class="text-nowrap">{{data.event.until}}</span></p>
                            </div>
                            <div class="col-12 collapse" id="collapse{{i}}">
                                <p class="h5 ml-4 mt-4 text-dark-gray">Details :</p>
                                <div class="card-body pt-1">{{data.event.description}}
                                    <div class="pl-2 pt-3">skills needed:

                                        <div class="chip" *ngFor="let chip of skill(data.event.skills)">
                                            {{chip}}
                                        </div>
                                        <!-- <div class="row">
                      <div class="col s6">
                        <input type="text" id="lg-input" placeholder="Add a keyword here">
                      </div>
                      <div class="col s2">
                        <button type="button" id="cmd-ChipsAjout" class="btn btn-outline-secondary"
                          style="padding-bottom: 2.7em;">
                          <i class="material-icons">add</i>
                        </button>
                      </div>
                    </div> -->
                                        <!--CHIPS/TAGS ZONE -->
                                        <!-- <div id="lg-Chips"></div> -->


                                    </div>
                                    <div class="col-11">
                                        <button class="btn btn-3 btn-info btn-icon float-right mb-3 animated" type="button" (click)="subscribe(data.event.id, i)" [ngClass]="{'tada btn-success': click[i]&& issubbed[i] , 'shake btn-danger' : click[i] && !issubbed[i]}">
                      <span class="btn-inner--icon">
                        <i class="fas fa-plus"></i>
                      </span>
                      <span class="btn-inner--text ">subscribe</span>
                    </button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>

</div>