<div class="jumbotron pt-5 pb-3  ">
    <div class="cont shadow-box">
        <div class="form sign-in">
            <h2>Welcome back,</h2>
            <label>
      <span>Email</span>
      <input type="email" />
    </label>
            <label>
      <span>Password</span>
      <input type="password" />
    </label>
            <p class="forgot-pass">Forgot password?</p>
            <button type="button" class="submit">Sign In</button>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2 class="text-light">New here?</h2>
                    <p>Sign up and discover great amount of new opportunities!</p>
                </div>
                <div class="img__text m--in">
                    <h2 class="text-light">One of us?</h2>
                    <p>If you already has an account, just sign in. We've missed you!</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Time to feel like home,</h2>
                <form [formGroup]="CandidateForm">
                    <label>
        <span>Name</span>
        <input formControlName="name" type="text" required />
        <span class="help-block ">  
                <span class="text-danger" *ngIf="CandidateForm.get('name').errors?.required && 
                (CandidateForm.get('name').touched || CandidateForm.get('name').dirty)">
                 name is required ...
             </span>
                          </span>
      </label>


                    <label>
        <span>Email</span>
        <input formControlName="email" type="email" />
        <span class="text-danger" *ngIf="CandidateForm.get('email').errors && 
        (CandidateForm.get('email').touched || CandidateForm.get('email').dirty)">
         Wrong email ...
     </span>
      </label>

                    <label>
        <span>Password</span>
        <input formControlName="password" type="password" />
        <span class="text-danger" *ngIf="CandidateForm.get('password').errors && 
        (CandidateForm.get('password').touched || CandidateForm.get('password').dirty)">
         Wrong email ...
     </span>
      </label>
                </form>
                <button type="button" (click)="signup()" class="submit">Sign Up</button>

            </div>
        </div>
    </div>
</div>