<div class="creative-banner bg-img cover-background theme-overlay" data-scroll-index="1" data-overlay-dark="9" data-background="img/banner/banner.jpg" style="background-image: url(&quot;img/banner/banner.jpg&quot;);">

    <div class="container">

        <div class="row">

            <!-- start left banner text -->
            <div class="col-lg-6 col-md-12 sm-margin-40px-bottom xs-margin-30px-bottom mb-5">
                <div class="header-text sm-width-75 xs-width-100">

                    <h1 class="line-height-55 md-line-height-50 xs-line-height-40 xs-font-size28 wow fadeInUp text-white" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Simply hire smarter and faster!</h1>
                    <p class="text-white font-size16 line-height-28 xs-font-size14 xs-line-height-26 margin-30px-bottom sm-margin-20px-bottom width-80 xs-width-90 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                       Our candidate sourcing creates an efficient recruitment process for your company. Let our technology match your open positions with pre-filtered, actively looking candidates from the largest shared talent network.
                    </p>
                    <div class="wow fadeInUp story-video" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><a href="javascript:void(0)" class="butn white margin-10px-right vertical-align-middle">Get Started</a>

                    </div>
                </div>
            </div>
            <!-- end banner text -->



            
            <!-- start right image banner -->
            <div class="col-lg-6 col-md-12 sm-text-center animated fadeInRight delay-1s">
                <div class="creative-banner-img">
                    <img src="../../../assets/img/content/undraw_interview_rmcf.svg"class="img-fluid float-right mt-5 sm-width-auto " style="width:80%" alt="">
                </div>
            </div>
            <!-- end right image banner -->

        </div>

    </div>

    <!-- Start wave area -->
    <div class="wave-area sm-display-none">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <!-- end wave area -->
</div>

       <!-- start business service section -->
          <!-- section 3 this is -->
          <section class="bg-light-gray" data-scroll-index="1">
            <div class="container">
                <div class="row mb-5 ">
        
                    <div class="col-md-4 mx-auto text-red" style="widows: 150px;">
                        <h2>SEE HOW IT WORK</h2>
        
                        <hr class="divider">
                    </div>
                </div>
                <div class="row mt-5  justify-content-end">
                    <div class="col-lg-6 col-md-12 sm-text-center sm-margin-30px-bottom">
                        <div class="h2 text-primary font-weight-light">01</div>
                        <h4>Set-up Job Descriptions</h4>
                        <p>Create job positions on MoBerries or import them from
                            your ATS, add your detailed requirements and let our
                            AI-based matching engine do the rest...</p>
                    </div>
                    <div class="col-lg-3 col-md-12 offset-1">
                        <div class=" lazy animated fade-in-up padding-30px-left sm-no-padding ">
                            <img src="../../assets/img/Employer/undraw_startup_life_2du2.png" style="width: 200%">
                        </div>
        
                    </div>
                </div>
                <div class="row mt-5 justify-content-center align-items-center my-6 flex-row-reverse">
                    <div class="col-md-6 text-center text-md-left offset-md-1">
                        <div class="h2 text-primary font-weight-light">02</div>
                        <h4>Review your applicants</h4>
                        <p>You only receive candidate matches that are actively job seeking and
                            undergo quality filters by our matching algorithm. Simply accept or decline
                            your matches.</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="lazy animated fade-in-left img-fluid mx-5 mx-md-0"
                            data-src="/assets/howto-home2.svg" alt="MoBerries How-To"
                            src="../../assets/img/Employer/undraw_onboarding_o8mv.png" data-was-processed="true">
                    </div>
                </div>
                <div class="row  mt-5  justify-content-center align-items-center my-6 flex-row">
                    <div class="col-md-6 text-center text-md-left">
                        <div class="h2 text-primary font-weight-light">03</div>
                        <h4>Interview and Hire</h4>
                        <p>Communicate with accepted candidates in real-time, set up your interviews
                            and organise all candidate matches within one unified platform.</p>
                    </div>
                    <div class="col-md-3 text-center offset-md-1">
                        <img class="lazy animated fade-in-up img-fluid mx-5 mx-md-0"
                            data-src="/assets/howto-home3.svg" style="width: 150%" src="../../assets/img/Employer/undraw_Meeting_h2df.png"
                            data-was-processed="true">
                    </div>
                </div>
        
            </div>
        </section>
        <!-- end business section -->
        <!-- start testmonials section -->
        <section class="bg-light-gray" data-scroll-index="1">
            <div class="container">
                <h2 class="section-title text-center">
                    Benefits of our Service</h2>
               
                <div class="row">
                    <div class="col-md-4 text-center d-flex flex-column">
                        <div class="my-3">
                            <img class="lazy animated fade-in mb-0 start loaded" data-src="/assets/benefit-companies1.svg"
                                style="width: 100px;" src="../../assets/img/Employer/benefit-companies1.svg"
                                data-was-processed="true">
                        </div>
                        <h4>Speed</h4>
                        <p class="mb-4">Streamlined screening and real-time candidate analysis
                            with relevance scoring. On average, our partner companies make
                            1 hire within 10 matches!</p>
                    </div>
                    <div class="col-md-4 text-center d-flex flex-column">
                        <div class="my-3">
                            <img class="lazy animated fade-in mb-0 start loaded" data-src="/assets/benefit-companies2.svg"
                                style="width: 100px;" src="../../assets/img/Employer/benefit-companies2.svg"
                                data-was-processed="true">
                        </div>
                        <h4>Relevance</h4>
                        <p class="mb-4">We filter the best suited candidates and onl
                            y recommend qualified, actively looking applicants for your positions.</p>
                    </div>
                    <div class="col-md-4 text-center d-flex flex-column">
                        <div class="my-3">
                            <img class="lazy animated fade-in mb-0 start loaded" data-src="/assets/benefit-companies3.svg"
                                style="width: 100px;" src="../../assets/img/Employer/benefit-companies3.svg"
                                data-was-processed="true"></div>
                        <h4>Feedback</h4>
                        <p class="mb-4">You know best what works for your company. With your feedback, our algorithm is able to
                            adapt to your needs and suggest better profiles.</p>
                    </div>
                    <div class="col-md-4 text-center d-flex flex-column">
                        <div class="my-3"><img class="lazy animated fade-in mb-0 start loaded"
                                data-src="/assets/benefit-companies4.svg" style="width: 100px;"
                                src="../../assets/img/Employer/benefit-companies4.svg" data-was-processed="true"></div>
                        <h4>Sharing</h4>
                        <p class="mb-4">A better hiring experience, set-up your own private micro network and share candidates
                            exclusively with your trusted partners and portfolio companies.</p>
                    </div>
                    <div class="col-md-4 text-center d-flex flex-column">
                        <div class="my-3"><img class="lazy animated fade-in mb-0 start loaded"
                                data-src="/assets/benefit-companies5.svg" style="width: 100px;"
                                src="../../assets/img/Employer/benefit-companies5.svg" data-was-processed="true"></div>
                        <h4>Integration</h4>
                        <p class="mb-4">Integrate seamlessly with your existing hiring tools. Import jobs from your ATS and let us
                            send the profiles back or simply use your Slack channel.</p>
                    </div>
                    <div class="col-md-4 text-center d-flex flex-column">
                        <div class="my-3"><img class="lazy animated fade-in mb-0 start loaded" style="width: 100px;"
                                src="../../assets/img/Employer/benefit-companies6.svg" data-was-processed="true"></div>
                        <h4>Flexibility</h4>
                        <p class="mb-4">Choose the plan that best fits your needs. Whether you are scaling up or looking for that
                            one key hire. We offer a variety of flexible subscription plans.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end testmonials section -->

