<div class="bg-gradient-lighter card container shadow">

    <form class="col-12" [formGroup]="eventForm">




        <h3 class="card-title  mb-2 col-12"></h3>

        <div class="row">

            <div class="mt-1 mb-3 offset-4">
                <button type="button" class="bg-gradient-gray-dark btn btn-block text-white" data-toggle="modal" data-target="#modal-form">choose a plan</button>
                <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                    <div class="modal-dialog modal- modal-dialog-centered w-75" style="max-width: inherit " role="document">
                        <div class="modal-content">

                            <div class="modal-body p-0">


                                <div class="card bg-secondary shadow border-0">
                                    <div class="card-header bg-transparent pb-5">
                                        <div class="row al-pricing text-center pt-5">
                                            <label class="col-lg-4 ">
                                                  <input type="radio" name="demo" class="card-input-element d-none" id="radio" >
                                          <div>
                                              <div class="card al-price-box mb-4 package">
                                                  <div class="al-pricing-header card-header text-center px-5 pt-5 pb-0">
                                                      <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png">
                                                      <h4 class="al-pricing-title my-0 font-weight-bold">Starter </h4>
                                                      <h1 class="card-title al-pricing-price mt-2 mb-0">$50</h1>
                                                  </div>
                                                  <div class="card-body al-pricing-features">
                                                      <ul class="list-unstyled mb-4">
                                                          <li>10 chairs</li>
                                                          <li>1 intreview Session</li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                          </label>
                                            <label class="col-lg-4">
                                                  <input type="radio" name="demo" class="card-input-element d-none" value="demo2">
                                                  <div >
                                              <div class="card al-price-box mb-4 package">
                                                  <div class="al-pricing-header card-header text-center px-5 pt-5 pb-0">
                                                      <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png">
                                                      <h4 class="al-pricing-title my-0 font-weight-bold">Standart </h4>
                                                      <h1 class="card-title al-pricing-price mt-2 mb-0">$70</h1>
                                                  </div>
                                                  <div class="card-body al-pricing-features">
                                                      <ul class="list-unstyled mb-4">
                                                          <li>20 chairs</li>
                                                          <li>1 intreview session</li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                          </label>
                                            <label class="col-lg-4">
                                                  <input type="radio" name="demo" class="card-input-element d-none" value="demo2">
                                                  <div >
                                              <div class="card al-price-box mb-4 package">
                                                  <div class="al-pricing-header card-header text-center px-5 pt-5 pb-0">
                                                      <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png">
                                                      <h4 class="al-pricing-title font-weight-bold">Pay as you go</h4>
                                                      <h1 class="card-title al-pricing-price mt-2 mb-0">$8 <small class="text-muted">/ chair</small></h1>
                                                  </div>
                                                  <div class="card-body al-pricing-features">
                                                      <ul class="list-unstyled mb-4">
                                                          <li>unlimited chairs</li>
                                                          <li>unlimited sessions</li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                          </label>
                                        </div>
                                    </div>

                                </div>




                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ml-5">
                <div class="form-group">
                    <a class="text-body mb-4">Event name :</a>
                    <input type="text" formControlName="eventname" class="form-control form-control-alternative " id="exampleFormControlInput1">
                </div>
            </div>
            <div class="col-md-8 ml-5">
                <div class="input-daterange datepicker row align-items-center">
                    <div class="col-6">
                        <a class="text-body mb-4">Start date :</a>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                </div>
                                <input class="form-control datepicker" id="StartEvent" placeholder="Select date" type="text" data-format="yyyy-MM-dd">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <a class="text-body mb-4">End date :</a>
                        <a class="text-body mb-4"></a>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                </div>
                                <input class="form-control " id="EndEvent" placeholder="End date" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ml-5">
                <div class="form-group">
                    <div class="">
                        <a class="text-body"> Skills</a>
                        <div class="input-group-prepend">
                        </div>
                        <input class="tagg" type="text" data-role="tagsinput" />
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-5 ml-5">

                <a class="text-body"> Details</a>
                <textarea class="form-control form-control-alternative" formControlName="EventDetails" rows="3" placeholder="Write a large text here ..."></textarea>


            </div>

        </div>
        <button type="button" (click)="addEvent()" class="btn btn-primary btn-twitter mb-3 offset-4">Submit</button>
    </form>



</div>