
    
    
    <div class="container-fluid mt-7">

      <div class="row">
          <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
              <div class="card card-profile shadow">
                  <div class="row justify-content-center">
                      <div class="col-lg-3 order-lg-2">
                          <div class="card-profile-image">
                              <div class="picture-container">
                                  <div class="picture">
                                      <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4-800x800.jpg"
                                          class="rounded-circle " id="wizardPicturePreview">
                                      <input type="file" id="wizard-picture" class="">
                                  </div>
                                  <label href="#" class="btn btn-sm btn-info mr-4" for="wizard-picture">Edit</label>

                              </div>
                          </div>
                      </div>




                  </div>

                  <div class="card-body pt-0 pt-md-4 mt-6">
                      <div class="text-center">
                          <h3>
                              Jessica Jones<span class="font-weight-light">, 27</span>
                          </h3>
                          <div class="h5 font-weight-300">
                              <i class="ni location_pin mr-2"></i>Bucharest, Romania
                          </div>
                          <div class="h5 mt-4">
                              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                          </div>
                          <div>
                              <i class="ni education_hat mr-2"></i>University of Computer Science
                          </div>
                          <hr class="my-4">
                          <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs
                              and records all of his own music.</p>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-8 order-xl-1">
              <div class="card shadow" style="background:#f2f4f9">
                  <div class="card-header border-0" style="background:#e4e8f1;">
                      <div class="row align-items-center">
                          <div class="col-8">
                              <h3 class="mb-0">My account</h3>
                          </div>

                      </div>
                  </div>
                  <div class="card-body">
                      <form>
                          <h6 class="heading-small text-muted mb-4">User information</h6>
                          <div class="pl-lg-4">
                              <div class="row">

                                  <div class="col-md-7">
                                      <div class="form-group focused">
                                          <label class="form-control-label" for="input-username">Username</label>
                                          <input type="text" id="input-username"
                                              class="form-control form-control-alternative" placeholder="Username"
                                              value="Elyes mk">
                                      </div>
                                  </div>
                                  <div class="col-md-7">
                                      <div class="form-group focused">
                                          <label class="form-control-label" for="input-address">Address</label>
                                          <input id="input-address" class="form-control form-control-alternative"
                                              placeholder="City"
                                              value="Ben arous" type="text">
                                      </div>
                                  </div>


                                  <div class="col-md-9 col-sm-offset-1" style="margin-top: 1em;">
                                      <p>Update your Resume :
                                          <input class="choose-file upload-btn" type="file" id="choose-file" required
                                              style="display:none ;">
                                          <label for="choose-file" class="upload-file btn btn-file"
                                              style="margin-left :1em;">
                                              <i class="material-icons">attach_file</i>
                                          </label>
                                      </p>
                                  </div>
                                  <div class="col-md-9 ">
                                      <p>Add skills :
                                          <input type="text" value="Example" data-role="tagsinput" />
                                      </p>
                                  </div>
                                  <div class="col-md-12">
                                          <div class="form-group focused">
                                              <label>About Me</label>
                                              <textarea rows="4" class="form-control form-control-alternative"
                                                  placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                                          </div>
                                      </div>

                              </div>

                              <!--------------------------------------------------------------------------------->
                          
                          </div>
                          

                      </form>
                  </div>
              </div>
          </div>
      </div>


