<div class="creative-banner bg-img cover-background theme-overlay" data-scroll-index="0" data-overlay-dark="9" data-background="img/banner/banner.jpg" style="background-image: url(&quot;img/banner/banner.jpg&quot;);">

    <div class="container">

        <div class="row">

            <!-- start left banner text -->
            <div class="col-lg-6 col-md-12 sm-margin-40px-bottom xs-margin-30px-bottom mb-5">
                <div class="header-text sm-width-75 xs-width-100">

                    <h1 class="line-height-55 md-line-height-50 xs-line-height-40 xs-font-size28 wow fadeInUp text-white" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Find a job today !</h1>
                    <p class="text-white font-size16 line-height-28 xs-font-size14 xs-line-height-26 margin-30px-bottom sm-margin-20px-bottom width-80 xs-width-90 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Search for a desired company interview , apply for it
                        and wait for your interview without any hustle .
                    </p>
                    <div class="wow fadeInUp story-video" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><a href="javascript:void(0)" class="butn white margin-10px-right vertical-align-middle">Get Started</a>

                    </div>
                </div>
            </div>
            <!-- end banner text -->



            
            <!-- start right image banner -->
            <div class="col-lg-6 col-md-12 sm-text-center animated fadeInRight delay-1s">
                <div class="creative-banner-img">
                    <img src="../../assets/img/Desk-guy.png" class="img-fluid float-right mt-5 sm-width-auto " style="width:80%" alt="">
                </div>
            </div>
            <!-- end right image banner -->

        </div>

    </div>

    <!-- Start wave area -->
    <div class="wave-area sm-display-none">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <!-- end wave area -->
</div>

       <!-- start business service section -->
          <!-- section 3 this is -->
          <section class="bg-light-gray" data-scroll-index="1">
            <div class="container" >
                    <div class="row mb-5 ">

                            <div class="col-md-4 mx-auto text-red" style="widows: 150px;">
                                <h2>SEE HOW IT WORK</h2>
                                
                                <hr class="divider">
                            </div>
                        </div>
                <div class="row mt-5  justify-content-end" >
                    <div class="col-lg-6 col-md-12 sm-text-center sm-margin-30px-bottom">
           <div class="h2 text-primary font-weight-light">01</div>
           <h4>Create your Profile</h4>
           <p>Create your free career profile and tell us what you are 
               good at in only a few steps - Let our AI do the rest. The
                best part: Say goodbye to cover letters!</p>
                    </div>
                    <div class="col-lg-3 col-md-12 offset-1">
                        <div class="padding-30px-left sm-no-padding ">
                                <img class="lazy animated fade-in-up img-fluid mx-5 mx-md-0" data-src="https://www.moberries.com/assets/howto-home1.svg" alt="MoBerries How-To" src="https://www.moberries.com/assets/howto-home1.svg" data-was-processed="true">
                        </div>
                        
                    </div>
                </div>
                <div class="row mt-5 justify-content-center align-items-center my-6 flex-row-reverse">
                    <div class="col-md-6 text-center text-md-left offset-md-1">
                        <div class="h2 text-primary font-weight-light">02</div>
                        <h4>Match with jobs</h4>
                        <p>Our system finds matches for you in real-time - 
                            you decide to accept or decline! Once you apply,
                             your profile directly goes into the HR Manager’s review.</p>
                            </div><div class="col-md-3 text-center">
                                <img class="lazy animated fade-in-left img-fluid mx-5 mx-md-0 "
                                 data-src="/assets/howto-home2.svg" alt="MoBerries How-To"
                                  src="../../assets/img/howto-home2.svg" data-was-processed="true">
                            </div>
                        </div>
                        <div class="row  mt-5  justify-content-center align-items-center my-6 flex-row">
                            <div class="col-md-6 text-center text-md-left">
                                <div class="h2 text-primary font-weight-light">03</div>
                                <h4>Get interviewed</h4>
                                <p>Once there is a mutual match, it’s time for your first step.
                                     Communicate and set up interviews with the matched company in 
                                     real-time and give it your best shot!</p>
                                    </div>
                                    <div class="col-md-3 text-center offset-md-1">
                                        <img class="lazy animated fade-in-up img-fluid mx-5 mx-md-0 "
                                         data-src="/assets/howto-home3.svg" alt="MoBerries How-To"
                                          src="../../assets/img/howto-home3.svg" data-was-processed="true">
                                        </div>
                                    </div>
                        <div class="row  mt-5  justify-content-center align-items-center my-6 flex-row-reverse">
                            <div class="col-md-6 text-center text-md-left offset-md-1">
                                <div class="h2 text-primary font-weight-light">04</div>
                                <h4>Got hired?</h4>
                                <p>Great, let us know about your success! No luck this time? No worries –
                                     we gather feedback to improve the accuracy of your future matches!</p>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img class="lazy animated fade-in-left img-fluid mx-5 mx-md-0 " 
                                        data-src="/assets/howto-home4.svg" alt="MoBerries How-To"
                                         src="../../assets/img/howto-home4.svg" data-was-processed="true">
                                        </div>
                                    </div>
            </div>
        </section>
        <!-- end business section -->
        <!-- start testmonials section -->
        <section class="bg-light-gray" data-scroll-index="4">
            <div class="container">
                <div class="section-heading">
                        <div class="col-md-12 mx-auto text-red" style="widows: 150px;">
                                <h2>Hired through us</h2>
                                
                                <hr class="divider">
                            </div>
                </div>
                <div class="owl-carousel owl-theme" id="testmonials-carousel">
                    <div class="testmonial-single text-center">
                        <div class="item-icon-quote margin-20px-bottom">
                            <span class="font-size28 opacity2"><i class="fas fa-quote-right"></i></span>
                        </div>
                        <p
                            class="margin-50px-bottom md-margin-30px-bottom line-height-28 width-50 sm-width-75 xs-width-90 center-col">
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <img src="../../assets/img/testmonials/t-4.jpg" alt="" class="rounded-circle border">
                        <div class="item-title display-inline-block padding-30px-left text-left">
                            <h4 class="font-size16 letter-spacing-1 no-margin-bottom">Alivin Corondo</h4>
                            <h6 class="no-margin font-size11 text-uppercase letter-spacing-2 display-inline-block">
                                Networking Lead</h6>
                        </div>

                    </div>
                    <div class="testmonial-single text-center">
                        <div class="item-icon-quote margin-20px-bottom">
                            <span class="font-size28 opacity2"><i class="fas fa-quote-right"></i></span>
                        </div>
                        <p
                            class="margin-50px-bottom md-margin-30px-bottom line-height-28 width-50 sm-width-75 xs-width-90 center-col">
                            Developer ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur voluptate.</p>
                        <img src="../../assets/img/testmonials/t-5.jpg" alt="" class="rounded-circle border">
                        <div class="item-title display-inline-block padding-30px-left text-left">
                            <h4 class="font-size16 letter-spacing-1 no-margin-bottom">Finley Walkeror</h4>
                            <h6 class="no-margin font-size11 text-uppercase letter-spacing-2 display-inline-block">App
                                Developer</h6>
                        </div>

                    </div>
                    <div class="testmonial-single text-center">
                        <div class="item-icon-quote margin-20px-bottom">
                            <span class="font-size28 opacity2"><i class="fas fa-quote-right"></i></span>
                        </div>
                        <p
                            class="margin-50px-bottom md-margin-30px-bottom line-height-28 width-50 sm-width-75 xs-width-90 center-col">
                            Designer ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur commodo
                            consequat.</p>
                        <img src="../../assets/img/testmonials/t-6.jpg" alt="" class="rounded-circle border">
                        <div class="item-title display-inline-block padding-30px-left text-left">
                            <h4 class="font-size16 letter-spacing-1 no-margin-bottom">Niamah Hower</h4>
                            <h6 class="no-margin font-size11 text-uppercase letter-spacing-2 display-inline-block">Sales
                                Designer</h6>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end testmonials section -->
        
<app-clients></app-clients>

