<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="index.html" class="logo">
                <img src="assets/img/logo.png" width="40" height="40" alt="">
            </a>
        </div>
        <div class="page-title-box pull-left">
            <h3>Focus Technologies</h3>
        </div>
        <a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul class="nav navbar-nav navbar-right user-menu pull-right">
            <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge bg-purple pull-right">3</span></a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span>Notifications</span>
                    </div>
                    <div class="drop-scroll">
                        <ul class="media-list">
                            <li class="media notification-message">
                                <a href="activities.html">
                                    <div class="media-left">
                                        <span class="avatar">
												<img alt="John Doe" src="assets/img/user.jpg" class="img-responsive img-circle">
											</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0 noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
                                        <p class="m-0"><span class="notification-time">4 mins ago</span></p>
                                    </div>
                                </a>
                            </li>
                            <li class="media notification-message">
                                <a href="activities.html">
                                    <div class="media-left">
                                        <span class="avatar">V</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0 noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
                                        <p class="m-0"><span class="notification-time">6 mins ago</span></p>
                                    </div>
                                </a>
                            </li>
                            <li class="media notification-message">
                                <a href="activities.html">
                                    <div class="media-left">
                                        <span class="avatar">L</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0 noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
                                        <p class="m-0"><span class="notification-time">8 mins ago</span></p>
                                    </div>
                                </a>
                            </li>
                            <li class="media notification-message">
                                <a href="activities.html">
                                    <div class="media-left">
                                        <span class="avatar">G</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0 noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
                                        <p class="m-0"><span class="notification-time">12 mins ago</span></p>
                                    </div>
                                </a>
                            </li>
                            <li class="media notification-message">
                                <a href="activities.html">
                                    <div class="media-left">
                                        <span class="avatar">V</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0 noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
                                        <p class="m-0"><span class="notification-time">2 days ago</span></p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="activities.html">View all Notifications</a>
                    </div>
                </div>
            </li>
            <li class="dropdown hidden-xs">
                <a href="javascript:;" id="open_msg_box" class="hasnotifications"><i class="fa fa-comment-o"></i> <span class="badge bg-purple pull-right">8</span></a>
            </li>
            <li class="dropdown">
                <a href="profile.html" class="dropdown-toggle user-link" data-toggle="dropdown" title="Admin">
                    <span class="user-img"><img class="img-circle" src="assets/img/user.jpg" width="40" alt="Admin">
						<span class="status online"></span></span>
                    <span>Admin</span>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="profile.html">My Profile</a></li>
                    <li><a href="edit-profile.html">Edit Profile</a></li>
                    <li><a href="settings.html">Settings</a></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <ul class="dropdown-menu pull-right">
                <li><a href="profile.html">My Profile</a></li>
                <li><a href="edit-profile.html">Edit Profile</a></li>
                <li><a href="settings.html">Settings</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div class="sidebar-menu">
                <ul>
                    <li style="margin-bottom: 5rem">
                        <a href="index.html"><i class="la la-home"></i> <span>Back to Home</span></a>
                    </li>
                    <li>
                        <a>
                            <span class="chat-avatar-sm user-img">
										<img class="w-40 img-circle" alt="" src="https://dreamguys.co.in/smarthr/orange/assets/img/profiles/avatar-11.jpg"><span class="status online"></span>
                            </span>
                            <span class="chat-user">John Doe</span>
                            <i class="material-icons" style="margin-left:3rem; cursor:pointer" onClick="redirect('outgoing-call')">call</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-wrapper" style="min-height: -webkit-fill-available;">
        <div class="chat-main-row" id="call">
            <div class="chat-main-wrapper">
                <div class="col-xs-9 message-view task-view">
                    <div class="chat-window">
                        <div class="chat-header">
                            <div class="navbar">
                                <div class="user-details">
                                    <div class="pull-left user-img m-r-10">
                                        <a><img src="assets/img/user-06.jpg" alt="" class="w-40 img-circle"><span class="status online"></span></a>
                                    </div>
                                    <div class="user-info pull-left">
                                        <a href="profile.html" title="Mike Litorus"><span class="font-bold h2">Mike Litorus</span></a>
                                        <span class="last-seen">Online</span>
                                    </div>
                                </div>
                                <ul class="nav navbar-nav pull-right chat-menu">
                                    <li>
                                        <a href="#chat_sidebar" class="task-chat profile-rightbar pull-right"><i class="fa fa-comments" aria-hidden="true"></i></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="chat-contents">
                            <div class="chat-content-wrap">
                                <div class="user-video" style="overflow:hidden">
                                    <video id="vidDisplay" autoplay="true">
                                                </video>
                                    <!-- <img src="assets/img/video-call.jpg" alt=""> -->
                                </div>
                                <div class="my-video">
                                    <ul>
                                        <li style="width: 20rem;">
                                            <video id="vidDisplay2" class="img-responsive" autoplay="true">
                                                    </video>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="chat-footer">
                            <div class="call-icons">
                                <ul class="call-items">

                                    <li class="call-item">
                                        <a href="#" title="Full Screen" data-placement="top" data-toggle="tooltip">
                                            <i class="fas fa-phone" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 message-view chat-profile-view chat-sidebar" id="chat_sidebar">

                </div>
            </div>
        </div>

        <div class="call-box outgoing-box" id="outgoing-call" style="display:none">
            <div class="call-wrapper">
                <div class="call-inner">
                    <div class="call-user">
                        <img alt="" src="https://dreamguys.co.in/smarthr/orange/assets/img/profiles/avatar-02.jpg" class="call-avatar">
                        <h4 class="h1">John Doe</h4>
                        <span class="h3">Connecting...</span>
                    </div>
                    <div class="call-items">
                        <a onclick="redirect('')" class="btn call-item call-end"><i class="material-icons vcend">call_end</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="drag_files" class="modal custom-modal fade center-modal" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Drag and drop files upload</h3>
                    </div>
                    <div class="modal-body p-t-0">
                        <form [formGroup]="" id="js-upload-form">
                            <div class="upload-drop-zone" id="drop-zone">
                                <i class="fa fa-cloud-upload fa-2x"></i> <span class="upload-text">Just drag and drop files here</span>
                            </div>
                            <h4>Uploading</h4>
                            <ul class="upload-list">
                                <li class="file-list">
                                    <div class="upload-wrap">
                                        <div class="file-name">
                                            <i class="fa fa-photo"></i> photo.png
                                        </div>
                                        <div class="file-size">1.07 gb</div>
                                        <button type="button" class="file-close">
                                                <i class="fa fa-close"></i>
                                            </button>
                                    </div>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                                    </div>
                                    <div class="upload-process">37% done</div>
                                </li>
                                <li class="file-list">
                                    <div class="upload-wrap">
                                        <div class="file-name">
                                            <i class="fa fa-file"></i> task.doc
                                        </div>
                                        <div class="file-size">5.8 kb</div>
                                        <button type="button" class="file-close">
                                                <i class="fa fa-close"></i>
                                            </button>
                                    </div>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                                    </div>
                                    <div class="upload-process">37% done</div>
                                </li>
                                <li class="file-list">
                                    <div class="upload-wrap">
                                        <div class="file-name">
                                            <i class="fa fa-photo"></i> dashboard.png
                                        </div>
                                        <div class="file-size">2.1 mb</div>
                                        <button type="button" class="file-close">
                                                <i class="fa fa-close"></i>
                                            </button>
                                    </div>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                                    </div>
                                    <div class="upload-process">Completed</div>
                                </li>
                            </ul>
                        </form>
                        <div class="m-t-30 text-center">
                            <button class="btn btn-primary btn-lg">Add to upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="add_group" class="modal custom-modal fade center-modal" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Create a group</h3>
                    </div>
                    <div class="modal-body">
                        <p>Groups are where your team communicates. They’re best when organized around a topic — #leads, for example.</p>
                        <form [formGroup]="">
                            <div class="form-group">
                                <label>Group Name <span class="text-danger">*</span></label>
                                <input class="form-control" required="" type="text">
                            </div>
                            <div class="form-group">
                                <label>Send invites to: <span class="text-muted-light">(optional)</span></label>
                                <input class="form-control" required="" type="text">
                            </div>
                            <div class="m-t-50 text-center">
                                <button class="btn btn-primary btn-lg">Create Group</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="add_chat_user" class="modal custom-modal fade center-modal" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Create Chat Group</h3>
                    </div>
                    <div class="modal-body">
                        <div class="input-group m-b-30">
                            <input placeholder="Search to start a chat" class="form-control search-input input-lg" id="btn-input" type="text">
                            <span class="input-group-btn">
										<button class="btn btn-primary btn-lg">Search</button>
									</span>
                        </div>
                        <div>
                            <h5>Recent Conversations</h5>
                            <ul class="media-list media-list-linked chat-user-list">
                                <li class="media">
                                    <a href="#" class="media-link">
                                        <div class="media-left"><span class="avatar">J</span></div>
                                        <div class="media-body media-middle text-nowrap">
                                            <div class="user-name">Jeffery Lalor</div>
                                            <span class="designation">Team Leader</span>
                                        </div>
                                        <div class="media-right media-middle text-nowrap">
                                            <div class="online-date">1 day ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a href="#" class="media-link">
                                        <div class="media-left"><span class="avatar">B</span></div>
                                        <div class="media-body media-middle text-nowrap">
                                            <div class="user-name">Bernardo Galaviz</div>
                                            <span class="designation">Web Developer</span>
                                        </div>
                                        <div class="media-right media-middle text-nowrap">
                                            <div class="online-date">3 days ago</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a href="#" class="media-link">
                                        <div class="media-left">
                                            <span class="avatar">
														<img src="assets/img/user.jpg" alt="John Doe">
													</span>
                                        </div>
                                        <div class="media-body media-middle text-nowrap">
                                            <div class="user-name">John Doe</div>
                                            <span class="designation">Web Designer</span>
                                        </div>
                                        <div class="media-right media-middle text-nowrap">
                                            <div class="online-date">7 months ago</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="m-t-50 text-center">
                            <button class="btn btn-primary btn-lg">Create Group</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="share_files" class="modal custom-modal fade center-modal" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Share File</h3>
                    </div>
                    <div class="modal-body">
                        <div class="files-share-list">
                            <div class="files-cont">
                                <div class="file-type">
                                    <span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
                                </div>
                                <div class="files-info">
                                    <span class="file-name text-ellipsis">AHA Selfcare Mobile Application Test-Cases.xls</span>
                                    <span class="file-author"><a href="#">Bernardo Galaviz</a></span> <span class="file-date">May 31st at 6:53 PM</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Share With</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="m-t-50 text-center">
                            <button class="btn btn-primary btn-lg">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>