<header class="header onepage-header" data-scroll-index="0">

    <div class="">

        <div class="menu_area alt-font">

            <!-- start navbar -->
            <nav class="navbar navbar-expand-lg no-padding">

                <div class="container sm-position-relative">

                    <div class="navbar-header navbar-header-custom">
                        <!-- start logo -->
                        <a href="javascript:void(0)" data-scroll-nav="0" class="navbar-brand white-logo "><img id="logo" src="../../../assets/dashboard/img/brand/lightblue.png" alt="logo"></a>
                        <!-- end logo -->
                    </div>

                    <div class="navbar-toggler"></div>

                    <ul class="navbar-nav ml-auto justify-content-around" id="nav">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/landing1" data-scroll-nav="0">For candidats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/landing2" data-scroll-nav="1">For employers</a>
                        </li>
                        <!-- <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" data-scroll-nav="2">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" data-scroll-nav="3">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" data-scroll-nav="4">Contact</a>
                            </li> -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/login" data-scroll-nav="5">Login</a>
                        </li>

                    </ul>

                    <div class="margin-20px-left sm-display-none">
                        <a class="butn white" routerLink="/auth/entreprise" href="javascript:void(0);">Employer</a>
                    </div>

                </div>

            </nav>
            <!-- end navbar  -->
        </div>

    </div>

</header>